
<div>
  <br>
  <br>
  <div class="row-fluid">
    <div class="span8">

      <div class="span3 shadow">
        <a href="https://github.com/oliverswitzer/" target="_blank">
          <div>
            <h2 class="top_link">github</h2>
          </div>
        </a>
      </div>
      <div class="span3 shadow">
        <a href="https://twitter.com/oliverswitzer" target="_blank">
          <div>
            <h2 class="top_link">twitter</h2>
          </div>
        </a>
      </div>
      <div class="span3 shadow">
        <a href="http://allyourcodesarebelongtous.tumblr.com/" target="_blank">
          <div>
            <h2 class="top_link">tumblr</h2>
          </div>
        </a>
      </div>
      <div class="span3 shadow">
        <a href="http://www.linkedin.com/pub/oliver-switzer/56/a08/30" target="_blank">
          <div>
            <h2 class="top_link">linkedin</h2>
          </div>
        </a>
      </div>

      
      <div class="span12 shadow" style="margin-left: -1px; margin-top: 30px; padding: 20px">
        <h2 class="box_header">A Collection of The Stuffs I've Done:</h2>
        <div id="proj_container">


          <div class="proj">
            <h4>Battle of Life</h4>
            <a href="http://battle-of-life.herokuapp.com/start" target="_blank">
              <img src="/img/game_of_life_updated.png"/>
            </a>
          </div>

          <div class="proj">
            <h4>BrBa Quiz</h4>
            <a href="http://breakingbadquiz.herokuapp.com/" target="_blank">
              <img src="/img/brba.jpg">
            </a> 
          </div>
          <!-- 
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>
          <div class="proj"></div>  -->
        </div>
      </div>

    </div>

    <div class="span4 shadow" style="padding: 20px">
      <h2 class="box_header">Latest post from my <a href="http://allyourcodesarebelongtous.tumblr.com" target="_blank">blog</a>:</h2>
      <p><%=@last_post%></p>
    </div>
  </div>

  </div> <!-- @end .row -->
</div> <!-- end container -->