<div class="head">
  <br>
  <br>
  <div class="row-fluid">
    <div class="span8 shadow">
      <h4>poop</h4>
      <p></p>
    </div>

    <div class="span4 shadow">
      <h4>poop</h4>
      <p></p>
    </div>
  </div>

  </div> <!-- @end .row -->
</div> <!-- end container -->