<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/custom.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- <nav id="navigation">
      <div class="container">
        <ul class="navlinks">
          <li><a href="index.html">Homepage</a></li>
          <li><a href="index.html">About Us</a></li>
          <li><a href="index.html">Projects</a></li>
          <li><a href="index.html">The Team</a></li>
          <li><a href="index.html">Contacts</a></li>
        </ul>
      </div>
    </nav> -->

    <header id="heading">
      <div class="container text-center">
        <h1 id="name">OLIVER SWITZER</h1>
        <h1 style="font-size: 55px">web developer, tech enthusiast, internet fiend</h1>
      </div>
    </header>

    <div class="main_container main-content container-fluid">
      <%= yield %>
    </div> 

    <script src="/js/boostrap.min.js"></script>
  </body>
</html>