/*
* {
  border: 1px dashed red;
}*/

.top_link {
	font-size: 35px;
}
#proj_container {
	position: relative;
	display: block;
	width: 95%;
	margin: 0 auto;
}

img {
	vertical-align: bottom;
}

.proj {
	margin: 20px 0 20px 30px;
	width: 175px;
	height: 175px;
	display: inline-block;
/*	background-color: green;
*/}

a {color:#000000;}      /* unvisited link */
a:visited {color:rgb(164, 101,	7);}  /* visited link */
a:hover {color:rgb(110,	90,	66);
	text-decoration: none}  /* mouse over link */
a:active {color:rgb(114,	60,	57);}

h1, h2, h3, h4 {
	text-align: center;
}

body {
 background-image: url('/img/lined_paper.png');
}

@font-face {
font-family: "adamas-regular";
src: url('/fonts/adamas_regular/adamas-regular-webfont.ttf');
}

.head {
  height: 300px;
  text-align: center;
  font-size: 200px;
}

#name {
  font-size: 80px;
  padding-left:  15px;
  margin-bottom: 15px;
  font-family: 'adamas-regular';
  line-height: 150% ;
}

.main_container {
	display: block;
	margin: 0 auto;
	width: 95%;
 	border: 4px solid black;
 	border-radius: 10px;
 	padding: 20px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #000000;
  -webkit-box-shadow: 3px 3px 5px 6px #000000;
  box-shadow:         3px 3px 5px 6px #000000;
}


header {
	margin: 30px;
}

h1 h2 h3