/*
* {
  border: 1px dashed red;
}*/

.top_link {
	font-size: 35px;
}
#proj_container {
	position: relative;
	display: block;
	width: 95%;
	margin: 0 auto;
}

img {
	vertical-align: bottom;
}



.proj {
	margin: 20px 0 20px 40px;
	width: 145px;
	height: 145px;
	display: inline-block;
	border-radius: 20px;

	background-color: rgba(22,	22,	22,	0.2);
	-webkit-box-shadow: 25px 33px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 25px 33px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}

.proj  a  img {
	border-radius: 0px 0px 20px 20px;
}

.proj h4 {
	font-family: arial;
	font-weight: 100
}

.box_header {
	/*font-family: "Helvetica Neue";
	font-size: 40px;*/
}

a {color:#000000;
	}      /* unvisited link */
a:visited {color:rgb(164, 101,	7);}  /* visited link */
a:hover {color:rgb(110,	90,	66);
	font-style: italic;
	text-decoration: none}  /* mouse over link */
a:active {color:rgb(114,	60,	57);}

h1, h2, h3, h4 {
	text-align: center;
	font-family: 'brain-flower';
	line-height: 110%;
	font-weight: bold;
}

body {
 background-image: url('/img/lined_paper.png');
}

@font-face {
font-family: "adamas-regular";
src: url('/fonts/adamas_regular/adamas-regular-webfont.ttf');
}

@font-face {
	font-family: "brain-flower";
	src: url('/fonts/brain_flower/brain_flower_euro-webfont.ttf');
}

.head {
  height: 300px;
  text-align: center;
  font-size: 200px;
}

#name {
  font-size: 80px;
/*  padding-left:  15px;*/
  margin-bottom: 15px;
  font-family: 'adamas-regular', 'monoton';
  line-height: 125% ;
}

.main_container {
	display: block;
	margin: 0 auto;
	width: 95%;
 	border: 4px solid black;
 	border-radius: 10px;
 	padding: 20px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #000000;
  -webkit-box-shadow: 3px 3px 5px 6px #000000;
  box-shadow:         3px 3px 5px 6px #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}


header {
	margin: 30px;
}

h1 h2 h3